/*
COLOR PALLETE
1. White              - #FFFFFF
2. Middle Blue Purple - #8783D1
3. Independence       - #383B53
4. Pine Green         - #0B7A75
5. Jungle Green       - #00B295
*/

* {
  font-family: "Poppins";
  color: black;
}

body {
  margin: 0;
}

main {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  /* Usuwa punktowanie listy */
  overflow: hidden;
  margin: 0;
  display: flex;
}

nav a {
  padding: 1.2rem;
  display: block;
  color: white;
  text-decoration: none; /* Usuwa linię spod linków */
  text-align: center;
  cursor: pointer;
}

nav a:hover {
  background-color: #8783d1;
}

nav a:active {
  box-shadow: inset 0 0 10px #59568f;
}

section {
  padding-top: 7rem;
  /* margin: auto; */
  width: 75%;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 0;
}

h2 {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

p {
  overflow-wrap: break-word;
}

input {
  width: 75%;
  text-align: center;
}

.desktop {
  background-color: #383b53;
  display: flex;
  /* grid-template-columns: 1fr auto; */
  column-gap: 3rem;
  padding-right: 3rem;
  padding-left: 5rem;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  display: none;
}

.menuItem {
  display: block;
  margin: 1rem 4rem;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.hamburger {
  position: absolute;
  z-index: 100;
  left: 1rem;
  padding: 4px;
  padding-bottom: 0;
  border: 0;
  background: #383B53;
  cursor: pointer;
  font-size: 40px;
  color: white;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #383B53;
  color: white;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.showMenu {
  transform: translateY(0);
}

.featured {
  /* height: 400px; */
  display: grid;
  place-items: center;
  gap: 3rem;
  box-sizing: border-box;
  padding: 3rem;
}

/* .featured img {
  margin-left: auto;
  transform: scale(0.8);
} */
.featured img {
  width: 80%;
  height: auto;
}

.desc {
  text-align: justify;
}

.descFooter {
  display: grid;
  column-gap: 1rem;
}

.descTime {
  display: grid;
  grid-template-columns: 25px auto;
}

.descTime h2 {
  text-align: left;
  font-size: 25px;
}

.descTime i {
  font-size: 25px;
  margin: 0;
  padding-top: 9px;
}

.row {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.buy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.button {
  color: white;
  cursor: pointer;
  min-height: 40px;
  background-color: #0e9c95;
  text-align: center;
  font-weight: 600;
  border: 0;
  outline: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: #00ceab;
}

.priceCon {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.fa-clock-o {
  margin-left: 1rem;
}

.priceCon i {
  padding-top: 5px;
  margin-right: 5px;
  text-align: right;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
}

.priceCon h3 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.sold {
  color: rgb(160, 160, 160);
}

.priceCon h4 {
  text-align: left;
  color: rgb(53, 53, 53);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.price h5 {
  color: rgb(190, 8, 8);
  font-size: 20px;
  display: block;
  text-align: right;
  margin: 0;
}

.col {
  width: 262px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
}

.cfooter {
  padding: 1rem;
  padding-top: 0;
}

.price {
  margin-top: 5%;
  margin-bottom: 10%;
}

.lastAuctionsSec {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  row-gap: 3rem;
  flex-wrap: wrap;
}

.lastAuctions {
  display: flex;
  flex-direction: row;
  /* max-width: 665px; */
  max-width: 665px;
}

.lfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: justify;
}

@media (max-width: 500px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .descFooter {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured {
    grid-template-columns: repeat(1, 1fr);
  }
  .lastAuctionsSec {
    flex-direction: column;
  }
  .lastAuctions {
    flex-direction: column-reverse;
  }
  .mobile {
    background-color: #383b53;
    display: flex;
    column-gap: 3rem;
    padding-right: 3rem;
    padding-left: 5rem;
    justify-content: center;
    align-items: center;
  }
  .desktop{
    display: none;
  }
}

@media (min-width: 600px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
  .descFooter {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured {
    grid-template-columns: repeat(2, 1fr);
  }
  .lastAuctionsSec {
    flex-direction: row;
  }
  .lastAuctionsSec {
    flex-direction: row;
  }
}
